#mainJumbo {
  background-position: right;
  background-color: #343a40;
  height: 30em;
  margin-bottom: 5em;
}

#jumbotron {
  background-color: #343a40;
  height: 30em;
}

.showmobile {
  display: none;
}

.noshowmobile {
  display: inline;
}

.fab {
  font-size: 10em;
  margin-top: 0.2em;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter {
  color: #1c9deb;
}

.fa-twitch {
  color: #8d45f8;
}

.fa-youtube {
  color: #f70000;
}

.blank {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 768px) {
  #mainJumbo {
    height: 30em;
    background-image: url('');
    text-align: center;
    margin-bottom: 5em;
  }

  div .row {
    margin-left: .2em !important;
    margin-right: .2em !important;
  }

  .noshowmobile {
    display: none;
  }

  .showmobile {
    display: inline;
  }
}