#mainJumbo {
  background-position: right;
  background-color: #343a40;
  height: 30em;
}

#jumbotron {
  background-color: #343a40;
  height: 30em;
}

.showmobile {
  display: none;
}

.noshowmobile {
  display: inline;
}

.blank {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 768px) {
  #mainJumbo {
    height: 30em;
    background-image: url('');
    text-align: center;
  }

  div .row {
    margin-left: .2em !important;
    margin-right: .2em !important;
  }

  .noshowmobile {
    display: none;
  }

  .showmobile {
    display: inline;
  }
}