#jumbotron {
  background-position: right;
  background-color: #343a40;
  height: 30em;
  background-image: url('./favicon.ico');
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

@media screen and (max-width: 800px) {
  #jumbotron {
    height: 30em;
    background-image: url('');
    text-align: center;
  }

  div .row {
    margin-left: .2em !important;
    margin-right: .2em !important;
  }
}